{:lib org.clojars.fgasperino/csp-clj
 :version "0.0.0"
 :paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {}}
           :test {:extra-paths ["test"]
                  :extra-deps {circleci/bond {:mvn/version "0.6.0"}
                               org.clojure/core.async {:mvn/version "1.7.701"}
                               criterium/criterium {:mvn/version "0.4.6"}}}
           :preview {:jvm-opts ["--enable-preview"]}
           :test-runner
           {:extra-deps
            {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
            :main-opts ["-m" "cognitect.test-runner"]
            :exec-fn cognitect.test-runner.api/test}
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}}}
